.btn-blue {
	background-color: #EE7674;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: Playfair Display, serif;
}

.btn-blue:hover {
	background-color: #F9B5AC;
	color: white;
}